COOKIE_SECRET=
FRONTEND_URL=
GOOGLE_MAPS_PLATFORM_KEY=
JWT_SECRET=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
SUPABASE_ANON_KEY=
SUPABASE_API_KEY=
SUPABASE_JWKS_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_URL=
VITE_GOOGLE_MAPS_PLATFORM_KEY=
VITE_SUPABASE_API_KEY=
VITE_SUPABASE_URL=

# Premium Unlock Pricing Configuration
VITE_PREMIUM_UNLOCK_AMOUNT=4999
PREMIUM_UNLOCK_AMOUNT=299

# Cloudinary Integration
CLOUDINARY_CLOUD_NAME=qvcsijog
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=